[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=LibreOffice7
Exec=/home/roy/Downloads/Apps/LibreOffice/LibreOffice-7.0.6.help-x86_64.AppImage
Icon=/home/roy/Downloads/Apps/LibreOffice/maxresdefault.jpg
Categories=Office;ProjectManagement;

