[Desktop Entry]
Version=1.0
Type=Application
Name=CK2
Exec=/home/roy/Games/CrusaderKingsII/game/ck2
Icon=/home/roy/Downloads/Games/CK2/logo.png
Categories=Game;

